<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by vendor"
          [(ngModel)]="vendor"
        />
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="button"
            (click)="searchVendor()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Devices List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let device of devices; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveDevice(device, i)"
        >
          {{ device.uid }} | {{ device.vendor }}
        </li>
      </ul>
  
    </div>
    <div class="col-md-6">
      <div *ngIf="currentDevice">
        <h4>Device</h4>
        <div>
          <label><strong>UID:</strong></label> {{ currentDevice.uid }}
        </div>
        <div>
          <label><strong>Vendor:</strong></label>
          {{ currentDevice.vendor }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentDevice.status ? "Online" : "Offline" }}
        </div>

        <div>
          <label><strong>Created:</strong></label>
          {{ currentDevice.created_at }}
        </div>
  
        <a class="btn btn-warning mt-2" routerLink="/devices/{{ currentDevice.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentDevice">
        <br />
        <p>Please click on a Device...</p>
      </div>
    </div>
  </div>
